@define-color text #E5E5E5;
@define-color base #121212;
@define-color border #333333AA;
@define-color foreground #E5E5E5;
@define-color background #121212;
@define-color hover #222222;
@define-color accent #CCCCCC;

window .box-wrapper {
  background: rgba(24, 24, 24, 0.85); /* same as Waybar and terminal */
  padding: 8px 2px;
  color: @text;
  border: 1px solid @border;
  margin: 0;
}

window .search-container,
window .search {
  background: transparent;
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  padding: 8px 12px;
  margin: 4px 5px;
  font-size: 14px;
  font-weight: 500;
}

window .input {
  color: @accent;
  padding: 0;
  font-weight: 300;
}

child {
  padding: 0 2px;
  background: transparent;
  border-radius: 0;
  border-left: 2px solid transparent;
  transition: all 160ms ease-in-out;
}

child:hover .item-box,
child:selected .item-box {
  background: linear-gradient(90deg, rgba(50, 50, 50, 0.80), transparent 100%);
  border-left: 2px solid alpha(@accent, 1);
  transform: translateX(4px);
  transition:
    background 150ms cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 150ms cubic-bezier(0.25, 0.8, 0.25, 1),
    border-left 150ms ease;
}

child:hover .item-text,
child:selected .item-text {
  text-shadow: 0 0 1px alpha(@accent, 0.1);
}

child,
.item-box {
  transition:
    background 150ms cubic-bezier(0.25, 0.8, 0.25, 1),
    border-left 150ms ease,
    transform 150ms ease;
}

window .list child {
  animation: slideIn 180ms ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-15px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

