/* ────────────────────────────────────────────────────────────
 * Custom Theme for Waybar
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color background #121212;
@define-color foreground #E5E5E5;
